<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Taxes Poker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.net/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<style>

</style>
<body>
{% load static %}

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>Welcome to online TaxasPoker</h1>
    <p>This website is written by AndyQu</p>
</div>

<div class="card p-3 my-3 bg-light text-dark" style="width: 18rem">
    <img src="{% static 'images/describe-image1.jpg' %}" alt="..."/>
    <div class="card-body">
        <h5 class="card-title">Poker</h5>
        <p class="card-text">Poker is a family of comparing card games in which players wager over which hand is best according to that specific game's rules. It is played worldwide, but in some places the rules may vary.</p>
        <a href="https://en.wikipedia.org/wiki/Poker" class="btn btn-primary">Go to wiki</a>
    </div>
</div>

<div class="card p-3 my-3 bg-light text-dark" style="width: 18rem">
    <img src="{% static 'images/describe-image2.jpg' %}" alt="..."/>
    <div class="card-body">
        <h5 class="card-title">World Series of Poker</h5>
        <p class="card-text">The World Series of Poker (WSOP) is a series of poker tournaments held annually in Paradise, Nevada, and since 2004, sponsored by Caesars Entertainment. It dates its origins to 1970, when Benny Binion invited seven of the best-known poker players to the Horseshoe Casino for a single tournament, with a set start and stop time, and a winner determined by a secret ballot of the seven players.</p>
        <a href="https://en.wikipedia.org/wiki/World_Series_of_Poker" class="btn btn-primary">Find out more</a>
    </div>
</div>

</body>
</html>